.login {
    border: none;
}

.navbar {
    font-weight: 300;
    
 } 
 a:hover {
	color:#999;
}

.contact-image {
    border: white;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}



.spacing {
    color: lightgray;
}

.container-fluid.news-feed {
    background-image: url("../images/nav_side_sub.jpg");
}

hr {
    background: black;
    height: 3px;
}

.hr-white {
    background: white;
    height: 3px;
}

.article-content.two {
    background-image: url("../images/nav_side_sub.jpg");
    color: white;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.article-content.one {
    background-image: url("../images/other_links_background.jpg");
    color: maroon;
    justify-content: left;
    text-align: left;
    padding: 25px;
}

.article-content.three {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.list-what {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.list-what-two {
    padding-left: 25px;
}